<div id="lastfooter">
    <div id="majidimg">
        <div id="mi">

        </div>
        <p>Brought to you by</p>
    </div>
    <span id="copyright">
        © 2024 Carrefour. All rights reserved.
    </span>
</div>