<header class="bg-primary text-white py-3">
    <nav class="container d-flex justify-content-between align-items-center">
        <h2 class="mb-0">Admin Panel</h2>
        <ul id="menu" class="list-unstyled d-flex mb-0">
            <li class="ms-3"><a href="/home" class="text-white text-decoration-none">Home</a></li>
            <li class="ms-3"><a href="/categories" class="text-white text-decoration-none">Categories</a></li>
            <li class="ms-3"><a href="/products" class="text-white text-decoration-none">Products</a></li>
            <li class="ms-3"><a href="/login" class="text-white text-decoration-none">Login</a></li>
            <li class="ms-3"><a href="/signup" class="text-white text-decoration-none">Signup</a></li>
        </ul>
    </nav>
</header>