<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Layout</title>
    <link rel="stylesheet" href="cv/style.css">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <div class="profile-picture">
                <img src="cv/profile.jpg" alt="Profile Picture">
                <div class="tooltip">
                    <p>Hello, I'm Fahad Javed, a dedicated software engineer with over 5 years of hands-on experience in
                        software development. Passionate about solving problems and learning the latest technology.</p>
                </div>
            </div>
            <div class="contact-info">
                <h1>Fahad Javed</h1>
                <p class="job-title">software engineer</p>
                <hr>
                <div class="contact-details">
                    <p><strong><b>Contact</b></strong></p>
                    <p>Phone: 03076010313</p>
                    <p><strong>Website:</strong></p>
                    <a class="id" href="#">www.fahadbasraa.com</a>
                    <p ><strong>Email:</strong></p>
                    <a id="id2" href="#">fahadbasraa009@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="top-bar"></div>
            <div class="letter-content">
                <p>John Doe<br>
                    Hiring Manager<br>
                    Tech Solutions Inc.<br>
                    1234 Elm Street<br>
                    New York, NY 10001</p>

                <p>Dear John Doe,</p>
                <p>
                    I have a proven track record of identifying complex problems and delivering innovative software
                    solutions that not only address the core issues but also streamline workflows and enhance overall
                    efficiency
                </p>
                <p>
                    Driven by curiosity and a passion for technology, I am always eager to learn new skills, adapt to
                    emerging trends, and implement cutting-edge technologies that add value to the team and the
                    organization
                </p>
                <p>
                    Are you looking for a software engineer with:
                </p>
                <ul>
                    <li>5+ years of hands-on experience in software development</li>
                    <li>Knowledge of the latest technology in the software industry</li>
                    <li>Excellent written and oral communication skills</li>
                    <li>A passion to learn and to increase his skills</li>
                </ul>
                <p>
                    If so, then you need look no further. You will see from my
                    enclosed resume that I meet all of these qualifications and more.
                </p>
                <p>
                    I would very much like to discuss opportunities with Tech Solutions Inc. To schedule an interview,
                    please call me at 678-555-0103. The best time to reach me is between 9 AM and 5 PM, but you can
                    leave a voice message at any time, and I will return your call.
                </p>
                <p>
                    Thank you for taking the time to review my resume. I look forward
                    to talking with you.
                </p>
                <p>Sincerely,</p>
                <p>Fahad Javed</p>
                <p>Enclosure</p>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>